.data-center{
    position: absolute;
    width: 30px;
    height: 30px;

}
.location,
.location-hover{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
/* germany singapore north-america  south-america */
.data-center[data-location="singapore"]{
top: 220px;
left: 40px;
}
.data-center[data-location="germany"]{
top: 25px;
left: -35px;
}
.data-center[data-location="north-america"]{
top: 80px;
left: -20px;

}

.data-center[data-location="south-america"]{
top: 70px;
left: 70px;

}

.location-hover{
    opacity: 0;
}
.data-center:hover .location-hover{
opacity: 1;
}