.data-center{
    position: absolute;
    width: 30px;
    height: 30px;

}
.location,
.location-hover{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
/* germany singapore north-america  south-america */
.data-center[data-location="singapore"]{
top: 300px;
left: 100px;
}
.data-center[data-location="germany"]{
top: 130px;
left: 40px;
}
.data-center[data-location="north-america"]{
top: 160px;
left: 100px;

}

.data-center[data-location="south-america"]{
top: 180px;
left: 210px;

}

.location-hover{
    opacity: 0;
}
.data-center:hover .location-hover{
opacity: 1;
}