.device-small,
.device-medium,
.device-large{
      position: relative;
    width: 35px;
    align-self: center;
    overflow: hidden;  
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
}

#north-america .device-small{
  top: 100px;
  left: 100px;
}
#north-america .device-medium{
  top: 85px;
  left: 220px;
}
#north-america .device-large{
  top:0px;
  left: 0px;
}

#europe .device-small{
  top: 150px;
  left: 120px;
}
#europe .device-medium{
  top: 0px;
  left: 90px;
}
#europe .device-large{
  top: 0px;
  left:150px;
}

#asia .device-small{
  top: 10px;
  left: 85px;
}
#asia .device-medium{
  top: 50px;
  left: 150px;
}
#asia .device-large{
  top: 100px;
  left: 40px;
}

#south-america .device-small{
  top: 20px;
  left: 40px;
}
#south-america .device-medium{
  top: 50px;
  left: 70px;
}
#south-america .device-large{
  top: 80px;
  left: 25px;
}



#australia .device-small{
  top: 30px;
  left: 55px;
}
#australia .device-medium{
  top: 15px;
  left: 10px;
}
#australia .device-large{
  top: 15px;
  left: 75px;
}


