.device-small,
.device-medium,
.device-large {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  width: 35px;
}
.device-window{
  position: absolute;
  /* overflow: hidden; */
  top: 0;
  left: 0;
  outline: 1px solid red;
  width: 35px;
}
.device-small img,
.device-medium img,
.device-large img {
  height: 100%;
}
.mask {
  position: absolute;
  top: 0;
  left: 0; 
  filter:  invert(50%);
}

#north-america .device-small {
  top: 130px;
  left: 120px;
}
#north-america .device-medium {
  top: 100px;
  left: 180px;
}
#north-america .device-large {
  top: 50px;
  left: 0px;
}

#europe .device-small {
  top: 150px;
  left: 120px;
}
#europe .device-medium {
  top: 30px;
  left: 40px;
}
#europe .device-large {
  top: 70px;
  left: 50px;
}

#asia .device-small {
  top: 50px;
  left: 50px;
}
#asia .device-medium {
  top: 100px;
  left: 100px;
}
#asia .device-large {
  top: 150px;
  left: -50px;
}

#south-america .device-small {
  top: 20px;
  left: 20px;
}
#south-america .device-medium {
  top: 60px;
  left: 30px;
}
#south-america .device-large {
  top: 80px;
  left: 25px;
}

#australia .device-small {
  top: 60px;
  left: 10px;
}
#australia .device-medium {
  top: 35px;
  left: 20px;
}
#australia .device-large {
  top: 85px;
  left: 5px;
}
