* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  background-color: gray;
}
main {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.info {
    width: 1000px;
    margin: 0 auto;
  display: flex;
  gap: 15px;
}

#message {
  background-color: black;
  color: white;
  padding: 15px;

}
#map {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  position: relative;
  background-image: url("./img/map.png");
  background-size: contain;
}

.continent {
position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}
#north-america {
  top: 180px;
  left: 180px;
}
#europe {
  top: 190px;
  left: 520px;
}
#asia {
  top: 150px;
  left: 710px;
}
#south-america {
  top: 370px;
  left: 285px;
}
#australia {
  top: 420px;
  left: 800px;
}

/* .continent[data-status="current"] #dataCenter {
  position: relative;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 50px;
  background-color: black;
}

.continent[data-status="new"] #dataCenter {
  position: relative;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 50px;
  background-color: white;
} */
