.info-card {
  position: absolute;
font-size: 10px;
padding: 2px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
#north-america .info-card {
  top: 100px;
  left: 0px;
}
#europe .info-card {
  top: -15px;
  left: 40px;
}
#asia .info-card {
  top: 40px;
  left: 95px;
}
#south-america .info-card {
  top: 70px;
  left: -85px;
}
#australia .info-card {
  top: 90px;
  left: -85px;
}
