.info-card {
  position: absolute;
  padding: 8px;
  background-color: #f1f1f1;
}
#north-america .info-card {
  top: 100px;
  left: -35px;
}
#europe .info-card {
  top: -15px;
  left: 40px;
}
#asia .info-card {
  top: 40px;
  left: 95px;
}
#south-america .info-card {
  top: 70px;
  left: -130px;
}
#australia .info-card {
  top: 90px;
  left: -135px;
}
